<div class="container-info">
  <h2>Bienvenido al Inicio </h2>
  <hr />
  <p>Estas son las rutas disponibles para explicarar en nuestra APIRest</p>
  <div>
    <p>Para obtener todos los productos.</p>
    <div class="container-ruta green">
      <a class="ruta"  href="http://localhost:8080/api/products">http://localhost:8080/api/products</a>.
    </div>
    <p>Tambien pueden realizar PUT, PUSH, DELETE y GET ONE.</p>
  </div>

  <div>
    <p>Para obtener todos los carritos</p>
    <div class="container-ruta yellow">
      <a class="ruta"  href="http://localhost:8080/api/carts">http://localhost:8080/api/carts</a>.
    </div>
    <p>Tambien pueden realizar PUT, PUSH, DELETE y GET ONE.</p>

  </div>

  <div>
    <p>Para visualizar nuestro productos en tiempo real ante cualquiera
      modifiacion.</p>
    <div class="container-ruta blue">
      <a class="ruta"  href="http://localhost:8080/realTimeProducts">http://localhost:8080/realTimeProducts</a>.
    </div>
  </div>
</div>