<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APIRest</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body class="body">

    <header>
        <div class="div-main">
            <h1>APIRest Productos y Carritos</h1>
        </div>
    </header>

    <div class="">
        <main>
            {{{body}}}  
        </main>
    </div>

    <footer>
        <div class="div-main">
            <p>© 2025.  My APIRest By Sebastian Alejandro Reibold.</p>
        </div>
    </footer>

</body>
</html>
</html>